<div class ="splunk-url section">
    <a href="{{block.data.details.url}}">View in Splunk </a><i class="btb bt-external-link"></i>
</div>
    <div class="num">
        {{#if block.data.details.num}}
        <i class="fa fa-fw fa-info integration-text-bold-color" ></i><span class="number">Total Number of Results:</span>
            {{block.data.details.num}}
        {{/if}}
    </div>
