<div class ="splunk-url section">
    <a href="{{block.data.details.url}}">View in Splunk </a><i class="btb bt-external-link"></i>
</div>

<div class="num">
    {{#if block.data.details.number}}
    <span class="number">Total Number of Results: </span>
    {{block.data.details.number}}
    {{/if}}
</div>

<!--
To view data in a table format uncomment out this code, and comment out the above code.
<table style="width: 100%">
<thead>
<tr>
    <th>Property</th>
    <th>Value</th>
</tr>
</thead>
<tbody>
{{#each-in block.data.details as |key value|}}
<tr>
    <td>{{{key}}}</td>
    <td>{{{value}}}</td>
</tr>
{{/each-in}}
</tbody>
        </table>-->
