.splunk-integration{

  div.splunk-url{
    font-size: 150%;
    font-weight: bold;
    background-size: 5px 5px;
    background-color: rgba(0,0,0,.3);
  }

  div.num{
  }

  span.number{
  }
}

